[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httplib2 = "*"
fastapi = "*"
psycopg2-binary = "*"
uvicorn = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
